p{
    background-color: aqua;
    border: 2px solid black;
    margin:5px ;
    padding: 5px;

}

h1{
    background-color: blanchedalmond;
    border: 2px solid black;
    margin:5px ;
    padding: 5px;

}

th{
    background-color: burlywood;
    border: 2px solid black;
    padding: 5px;
    margin: 5px;
}

td{
    background-color: aquamarine;
    border: 2px solid brown;
}
img{
    width: 100%;
    height: 850px;
}
